openapi: 3.1.0
info:
  title: Elastic Cloud Account Cluster API
  description: RESTful API for managing Elastic Cloud hosted deployments. Enables you to perform most operations available in the Elastic Cloud console through API calls, including creating, updating, resizing, and deleting deployments, managing traffic filters, snapshots, and account-level resources.
  version: '1.0'
  contact:
    name: Elastic Cloud Support
    url: https://www.elastic.co/contact
  license:
    name: Elastic License 2.0
    url: https://www.elastic.co/licensing/elastic-license
servers:
- url: https://api.elastic-cloud.com
  description: Elastic Cloud production
security:
- apiKeyAuth: []
tags:
- name: Cluster
  description: Cluster health, state, and statistics.
paths:
  /_cluster/health:
    get:
      operationId: getClusterHealth
      summary: Get cluster health
      tags:
      - Cluster
      responses:
        '200':
          description: Cluster health response
          content:
            application/json:
              schema:
                type: object
                properties:
                  cluster_name:
                    type: string
                  status:
                    type: string
                    enum:
                    - green
                    - yellow
                    - red
                  number_of_nodes:
                    type: integer
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: ApiKey <api_key>
externalDocs:
  description: Elastic Cloud API Reference
  url: https://www.elastic.co/docs/api/doc/cloud
