openapi: 3.1.0
info:
  title: Elastic Cloud Account Indices API
  description: RESTful API for managing Elastic Cloud hosted deployments. Enables you to perform most operations available in the Elastic Cloud console through API calls, including creating, updating, resizing, and deleting deployments, managing traffic filters, snapshots, and account-level resources.
  version: '1.0'
  contact:
    name: Elastic Cloud Support
    url: https://www.elastic.co/contact
  license:
    name: Elastic License 2.0
    url: https://www.elastic.co/licensing/elastic-license
servers:
- url: https://api.elastic-cloud.com
  description: Elastic Cloud production
security:
- apiKeyAuth: []
tags:
- name: Indices
  description: Manage indices, mappings, and settings.
paths:
  /{index}:
    put:
      operationId: createIndex
      summary: Create an index
      tags:
      - Indices
      parameters:
      - name: index
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: object
                  additionalProperties: true
                mappings:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Created
    delete:
      operationId: deleteIndex
      summary: Delete an index
      tags:
      - Indices
      parameters:
      - name: index
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deleted
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: ApiKey <api_key>
externalDocs:
  description: Elastic Cloud API Reference
  url: https://www.elastic.co/docs/api/doc/cloud
