openapi: 3.1.0
info:
  title: Elastic Cloud Account DataViews API
  description: RESTful API for managing Elastic Cloud hosted deployments. Enables you to perform most operations available in the Elastic Cloud console through API calls, including creating, updating, resizing, and deleting deployments, managing traffic filters, snapshots, and account-level resources.
  version: '1.0'
  contact:
    name: Elastic Cloud Support
    url: https://www.elastic.co/contact
  license:
    name: Elastic License 2.0
    url: https://www.elastic.co/licensing/elastic-license
servers:
- url: https://api.elastic-cloud.com
  description: Elastic Cloud production
security:
- apiKeyAuth: []
tags:
- name: DataViews
  description: Manage data views (formerly index patterns).
paths:
  /api/data_views:
    get:
      operationId: listDataViews
      summary: List data views
      tags:
      - DataViews
      responses:
        '200':
          description: Data views
          content:
            application/json:
              schema:
                type: object
                properties:
                  data_view:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: ApiKey <api_key>
externalDocs:
  description: Elastic Cloud API Reference
  url: https://www.elastic.co/docs/api/doc/cloud
